html {
	font-size: 18px;
}
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	margin: 1em 0;
	font-size: 2em;
	font-family: 'Roboto Condensed', sans-serif;
}
p {
	margin: 1em 0;
}
a {
	color: #0cf;
	text-decoration: none;
}
.btn {
	border: 2px solid #000;
}
.well {
	background-color: #ddd;
	padding: 1em;
}
.site {
	max-width: 1200px;
	margin: 0 auto;
}
.pad {
	padding: 0 2em;
}
.nav {
	border-right: 1px solid #ddd;
}
.nav a {
	display: block;
	text-align: center;
	transition: background-color 1000ms;
}
.nav a:hover {
	background-color: #ddd;
}
.logo {
	background-color: #0cf;
}
.logo a {
	padding: 1em;
	color: #fff;
}
.content a {
	padding-right: 0.5em;
}
.content a:after {
	content: '>';
	position: relative;
	left: 0.2em;
	transition: left 100ms;
}
.content a:hover:after {
	left: 0.5em;
}
@media (max-width: 1010px) {
	.pad { padding: 0 1em; }
	.logo a { padding: 1em; }
}
@media (max-width: 780px) {
	/*html { font-size: 10px; }*/
}
@media (max-width: 570px) {
	
}