---
import Nav from '../components/Nav.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class='container mx-auto'>
    <Nav />
    <article class='prose prose-zinc'>
      <h1>Home</h1>
      <p>Hello there. I make apps.</p>
    </article>
  </div>
</Layout>
