---
import Nav from '../components/Nav.astro';
import Layout from '../layouts/Layout.astro';

const apps = [
  {
    name: 'Snake Tale',
    imageUrl: '/snake-tale.png',
    url: 'https://apps.apple.com/us/app/snake-tale/id6740222955?mt=12',
  },
  {
    name: 'Paste Jar',
    imageUrl: '/paste-jar.png',
    url: 'https://apps.apple.com/us/app/paste-jar/id6740173058?mt=12',
  },
  {
    name: 'Mojingo',
    imageUrl: '/mojingo.png',
    url: 'https://apps.apple.com/us/app/mojingo/id6745482789',
  },
  {
    name: 'Map Editor',
    imageUrl: '/map-editor.png',
    url: 'https://toddpastell.github.io/map-editor',
  },
];
---

<Layout>
  <div class='container mx-auto'>
    <Nav />
    <main class='px-4'>
      <article class='prose prose-zinc'>
        <h1>Home</h1>
        <p>
          Welcome to my app portfolio. Here you'll find a selection of projects
          I've created. Thanks for visiting.
        </p>
      </article>
      <section class='mt-10 flex flex-wrap gap-10'>
        {
          apps.map((app) => (
            <a
              href={app.url}
              class='transition-transform hover:scale-105'
              rel='noopener noreferrer external'
              target='_blank'>
              <img
                class='size-48 rounded-3xl'
                src={app.imageUrl}
                alt={app.name}
              />
            </a>
          ))
        }
      </section>
    </main>
  </div>
</Layout>
