<!doctype html>
<html>
	<head>
		<title>Todd Pastell</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/css/grid.css">
		<link rel="stylesheet" type="text/css" href="/css/site.css">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:300">
		{% for style in page.styles %}<link rel="stylesheet" type="text/css" href="{{ style }}">
		{% endfor %}{% for script in page.scripts %}<script type="text/javascript" src="{{ script }}"></script>
		{% endfor %}
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-50407616-1', 'auto');
			ga('send', 'pageview');
		</script>
	</head>
	<body>
		<div class="site">
			<div class="row">
				<div class="col span1-4">
					<div class="nav pad">
						<h1><a class="btn" href="/">Todd<br>Pastell</a></h1>
						<h2><a href="/lab">Lab</a></h2>
						<h2><a href="#">About</a></h2>
						<div class="hrz-rule"></div>
					</div>
				</div>
				<div class="col span3-4">
					<div class="pad">
{{ content }}
					</div>
				</div>
			</div>
		</div>
		<div class="spacer"></div>
	</body>
</html>